<% content_for :title do %>About<% end %>
<h3>About Segmint</h3>
<p>Segmint, Inc. is an award-winning provider of data-driven marketing technology. The company's solution securely activates enterprise data to intuitively deliver personalized engagements attributed across all channels. Segmint offers the only technology platform that leverages actual consumer data to help marketers understand and even anticipate the needs of their target audience and serve them highly relevant and personalized advertisements at the precise moment they're considering a purchase.  The platform delivers messages to consumers across mobile, web, and more while adhering to strict privacy and security standards. Segmint works with global market leaders including those from financial technology, registrar, insurance, and IT solutions industries, and is headquartered in Akron, Ohio.</p>
<p>Our Mmission:</p>
<p>Segmint will analyze and interpret private consumer spend data anonymously - through a secure technology-based proprietary process - enabling you and your marketing partners to exceed your clients' goals, needs and interests.</p>
